:root {
  --dark-blue: #041A3F;
  --light-blue: #05C3C4;
  --pink: #D81E5B;
  --white: #FBF9FF;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}
