@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #041a3f;
  --light-blue: #05c3c4;
  --pink: #d81e5b;
  --white: #fbf9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}
